{% extends 'layouts/app.html.twig' %}

{% block body %}
    {% for post in posts %}
        <div class="d-flex justify-content-center">
            <a class="text-decoration-none text-dark" href="{{ path('post_show', {id: post.id}) }}">
                <div class="card shadow mb-5" style="width: 35rem;">
                    {% if post.coverImage == null %}
                        <img class="card-img-top" src="{{ asset('images/cover.jpg') }}" alt="{{ post.title }}">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/cover_images/'~post.coverImage) }}" alt="{{ post.title }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body | slice(0, 120) }}...</p>
                        <p class="card-text"><small class="text-muted">{{ post.createdDate | date }}</small></p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
